.yarn
coverage
dist/__tests__/**
dist/**/*.test.js
docs
node_modules
src
PULL_REQUEST_TEMPLATE.md
.adiorc.js
.eslintrc.cjs
.gitattributes
.gitignore
.prettierrc.js
.yarnrc.yml
DEVELOPMENT.md
ISSUE_TEMPLATE.md
jest.config.js
yarn.lock
