.yarn
.idea
coverage
dist/**
docs
node_modules
src/__tests__/**
PULL_REQUEST_TEMPLATE.md
.adiorc.js
.eslintrc.cjs
.gitattributes
.gitignore
.prettierrc.js
.yarnrc.yml
DEVELOPMENT.md
ISSUE_TEMPLATE.md
jest.config.js
yarn.lock
